/* ==========================================================================
   VARIABLES
   ========================================================================== */
/**
 * Wrapper
 */

$wrapper-max-width: 1200px !default;

$gold:#ad8900;
$purple:#381360;
